.navLink {
    font-size: 20px;
    color: antiquewhite;
    cursor: pointer;    
}


.disabled {
    opacity: .3;
    pointer-events: none;
}


.mainNavigation {
    display: flex;
    width: 100%;
    background-color: black;
    padding: 20px 50px;
    column-gap: 30px;

}